/* Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Google+Sans+Flex:opsz,wght@6..144,1..1000&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');



/* Variaveis de Fonts */
:root {
    --fonte-menu: "Google Sans Flex", sans-serif;
    --fonte-padrao: "Google Sans Flex", sans-serif;
    --fonte-titulo: "Cinzel", serif;
    --fonte-subtitulo: "Spectral", serif;
}

/* Variaveis de Cores */
/* Tema Dark */
:root, :root[data-theme='dark'] {

    --cor-fundo: #1d1d1d;
    --cor-fundo-secundaria:#343434;

    --cor-txt-menu: #8383838b;
    --cor-destaque: #fff;

    --icone-tema: #f19217;

    --cor-titulo: #fff;
    --cor-textos: #fff;

    --cor-icones: #105278;
    --destaque-icones: #fff;
}

/* Tema Claro */
:root[data-theme='light'] {

    --cor-fundo: #fff;
    --cor-fundo-secundaria: #aaa;

    --cor-txt-menu: #9595957f;
    --cor-destaque: #111;

    --icone-tema: #179eec;

    --cor-titulo: #000;
    --cor-textos: #131313;

    --cor-icones: #8a9194;
    --destaque-icones: #000;

}


/* Filtro Cor do Logo */
html[data-theme='dark'] .logo {
    filter: invert(1);
    /* para img preto */
}




/* Fontes Utilizadas */

/* converter REM em PX */

html {
    font-size: 62.5%;
}



/* Reset CSS 
= Padronizar os Navegadores */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: transparent;
}

/* TODA ESTRUTURA DO SITE ou HTML */
body {
    background-color: var(--cor-fundo-secundaria);
    font-size: 16px;
}

/* Cabeçalho */
header {
    /* Cor fundo = Background */
    background-color: var(--cor-fundo);
    width: 100%; /* largura */  /* Responsivas */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-desktop {
    display: none;
    justify-content: center;
    align-items: center;
}

/* .menu = UL */
.menu {
    display: flex;
    list-style: none;
    gap: 16px;
}

/* A Href = menu - link */

.menu-link {
    text-decoration: none;
}

.menu-texto {
    color: var(--cor-txt-menu);
    text-transform: capitalize;
    font-size: 1.8rem; /* 18px */
    font-family: var(--fonte-menu);
    font-weight: 600;
}

/* Herança */
.menu-link.active .menu-texto,
.menu-link:hover .menu-texto {
    color: var(--cor-destaque);
}

.logo img {
    width: 5.2rem; /* 52 PX L  */ 
    height: 5rem; /*  50 PX A */
}

.header-toggle {
    cursor: pointer;
    font-size: 1.8rem;
    color: var(--icone-tema);
}

/* Hero = HOME */

h1 {
    color: var(--cor-titulo); /* cor texto */
    /* Tamanho do texto */
    font-size: 2.5rem;
    font-family: var(--fonte-titulo);
    font-weight: 100;
    letter-spacing: 2px;
}

strong {
    /* color: #179eec; */
    font-weight: 800;
}

p {
    color: var(--cor-textos);
    font-size: 1.8rem;
    font-family: var(--fonte-padrao);
}


/* Redes sociais */

.menu-social {  /* UL */
    display: flex;
    list-style: none;
    gap: 1.2rem;
    padding: 0;
}

.menu-social .social-icon {
    color: var(--cor-icones);
    font-size: 3.5rem;
}

.menu-social .social-icon:hover {
    color: var(--destaque-icones);
    transition: ease-out .7s;
}


/* Carousel */

/* Estrutura dos 3 slides */

/* Altura do Hero em Tela Cheia */
.carousel .carousel-item {
    height: 40vh; /* ViewPort Hight */
    min-height: 400px;
}

/* tamanho das imagens */
.carousel .carousel-item img,
.carousel .carousel-item .ratio {
    height: 100%;
    object-fit: cover;
    object-position: center;
    /* Bloquear açoes Click Direito Mouse */
    pointer-events: none;
}

/* Filtro ou Overlay escuro Sutil acima dos slides */

/* Pseudo-Elemento */
.carousel .carousel-item::before {
    content: "";
    background: #000000a4;
    position: absolute;
    inset: 0;
}

.carousel .carousel-caption {
    position: absolute;
    inset: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.carousel h5 {
    font-size: 5rem;
    font-weight: 800;
}

.carousel p {
    font-size: 2.2rem;
    color: #fff;
}

.carousel h5,
.carousel p {
    text-shadow: 0 2px 14px rgba(0, 0, 0, 0.725);
    
}





/* Responsivo */

/* A partir de Telas Grandes */
@media (min-width:768px) {

    header {
        padding: 1rem 6rem;
    }


    .menu-desktop {
        display: flex;
        justify-content: end;
        align-items: center;
        margin: auto;
    }
}

