/* Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Google+Sans+Flex:opsz,wght@6..144,1..1000&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');



/* Variaveis de Fonts */
:root {
    --fonte-menu: "Google Sans Flex", sans-serif;
    --fonte-padrao: "Google Sans Flex", sans-serif;
    --fonte-titulo: "Cinzel", serif;
    --fonte-subtitulo: "Spectral", serif;
}

/* Variaveis de Cores */
/* Tema Dark */
:root, :root[data-theme='dark'] {

    --cor-fundo: #1d1d1d;
    --cor-fundo-secundaria:#343434;

    --cor-txt-menu: #8383838b;
    --cor-destaque: #fff;

    --icone-tema: #f19217;
}

/* Tema Claro */
:root[data-theme='light'] {

    --cor-fundo: #fff;
    --cor-fundo-secundaria: #aaa;

    --cor-txt-menu: #9595957f;
    --cor-destaque: #111;

    --icone-tema: #179eec;
}


/* Filtro Cor do Logo */
html[data-theme='dark'] .logo {
    filter: invert(1); 
    /* para img preto */
}




/* Fontes Utilizadas */

/* converter REM em PX */

html {
    font-size: 62.5%;
}



/* Reset CSS 
= Padronizar os Navegadores */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: transparent;
}

/* TODA ESTRUTURA DO SITE ou HTML */
body {
    background-color: var(--cor-fundo-secundaria);
    font-size: 16px;
}

/* Cabeçalho */
header {
    /* Cor fundo = Background */
    background-color: var(--cor-fundo);
    width: 100%; /* largura */  /* Responsivas */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-desktop {
    display: none;
    justify-content: center;
    align-items: center;
}

/* .menu = UL */
.menu {
    display: flex;
    list-style: none;
    gap: 16px;
}

/* A Href = menu - link */

.menu-link {
    text-decoration: none;
}

.menu-texto {
    color: var(--cor-txt-menu);
    text-transform: capitalize;
    font-size: 1.8rem; /* 18px */
    font-family: var(--fonte-menu);
    font-weight: 600;
}

/* Herança */
.menu-link.active .menu-texto,
.menu-link:hover .menu-texto {
    color: var(--cor-destaque);
}

.logo img {
    width: 5.2rem; /* 52 PX L  */ 
    height: 5rem; /*  50 PX A */
}

.header-toggle {
    cursor: pointer;
    font-size: 1.8rem;
    color: var(--icone-tema);
}


/* Responsivo */

/* A partir de Telas Grandes */
@media (min-width:768px) {

    header {
        padding: 1rem 6rem;
    }


    .menu-desktop {
        display: flex;
        justify-content: end;
        align-items: center;
        margin: auto;
    }
}

